// you can change colors here
$theme-color: #1874ca;
$font-family: '"Noto Sans SC","PingFang SC","Microsoft Yahei",sans-serif';
$font-family-heading: '"Noto Sans SC","PingFang SC","Microsoft Yahei",sans-serif';